/*
 * RandomPlanet scss File
*/

.random-planet {
    margin-top: 1rem;
    background: white;
    .left-block {
        display: flex;
        align-items: center;
        justify-content: center;
        .planet-image {
            display: flex;
            width: 100%;
            max-width: 250px;
            min-height: 100px;
            height: auto;
            border-radius: 10px;
        }
    }

    .right-block {
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;

        .planet-name {
            text-align: center;
        }
    }
}