/*
 * PersonDetails scss File
*/

.person-details {
  display: flex;

  .info-text {
    margin-left: 16px;
  }

  .person-name {
    text-align: center;
  }
    .person-image {
      border-radius: 10px;
      display: block;
      width: 50%;
      max-width: 150px;
      height: 100%;
      object-fit: cover;
    }

  .list-group {
    width: 100%;

    .list-group-item {
      padding-left: 0;
    }
  }
}